#loginRegisterScreen {
    background-image: url("../assets/gym.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginRegField {
    max-width: 20rem;
    flex: 1 1 auto;
    padding: 2rem;
    background: blue;
}